# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
Intermediate/Build/BuildRulesProjects/CountDownToTheNuggetModuleRules/obj/Development/CountDownToTheNuggetModuleRules.csproj.AssemblyReference.cache
Intermediate/Build/BuildRulesProjects/CountDownToTheNuggetModuleRules/obj/Development/CountDownToTheNuggetModuleRules.GeneratedMSBuildEditorConfig.editorconfig
Intermediate/Build/BuildRulesProjects/CountDownToTheNuggetModuleRules/obj/project.assets.json
Intermediate/Build/BuildRulesProjects/CountDownToTheNuggetModuleRules/obj/project.nuget.cache
Intermediate/Build/SourceFileCache.bin
Intermediate/Build/Win64/ActionHistory.bin
Intermediate/Build/Win64/CountDownToTheNuggetEditor/Development/CountDownToTheNuggetEditor.deps
Intermediate/Build/Win64/CountDownToTheNuggetEditor/Development/CountDownToTheNuggetEditor.uhtmanifest
Intermediate/Build/Win64/CountDownToTheNuggetEditor/Development/CountDownToTheNuggetEditor.uhtpath
Intermediate/Build/Win64/UnrealEditor/Inc/CountDownToTheNugget/UHT/CountDownToTheNugget.init.gen.cpp
Intermediate/Build/Win64/UnrealEditor/Inc/CountDownToTheNugget/UHT/CountDownToTheNuggetCharacter.gen.cpp
Intermediate/Build/Win64/UnrealEditor/Inc/CountDownToTheNugget/UHT/CountDownToTheNuggetCharacter.generated.h
Intermediate/Build/Win64/UnrealEditor/Inc/CountDownToTheNugget/UHT/CountDownToTheNuggetClasses.h
Intermediate/Build/Win64/UnrealEditor/Inc/CountDownToTheNugget/UHT/CountDownToTheNuggetGameMode.gen.cpp
Intermediate/Build/Win64/UnrealEditor/Inc/CountDownToTheNugget/UHT/CountDownToTheNuggetGameMode.generated.h
Intermediate/Build/Win64/UnrealEditor/Inc/CountDownToTheNugget/UHT/Timestamp
Intermediate/Build/Win64/x64/CountDownToTheNuggetEditor/ActionHistory.bin
Intermediate/Build/Win64/x64/CountDownToTheNuggetEditor/Development/Core/SharedDefinitions.Core.Cpp17.h
Intermediate/Build/Win64/x64/CountDownToTheNuggetEditor/Development/Core/SharedDefinitions.Core.Cpp20.h
Intermediate/Build/Win64/x64/CountDownToTheNuggetEditor/Development/Core/SharedDefinitions.Core.RTTI.Cpp20.h
Intermediate/Build/Win64/x64/CountDownToTheNuggetEditor/Development/Core/SharedPCH.Core.Cpp17.cpp
Intermediate/Build/Win64/x64/CountDownToTheNuggetEditor/Development/Core/SharedPCH.Core.Cpp17.h
Intermediate/Build/Win64/x64/CountDownToTheNuggetEditor/Development/Core/SharedPCH.Core.Cpp17.h.obj.rsp
Intermediate/Build/Win64/x64/CountDownToTheNuggetEditor/Development/Core/SharedPCH.Core.Cpp20.cpp
Intermediate/Build/Win64/x64/CountDownToTheNuggetEditor/Development/Core/SharedPCH.Core.Cpp20.h
Intermediate/Build/Win64/x64/CountDownToTheNuggetEditor/Development/Core/SharedPCH.Core.Cpp20.h.obj.rsp
Intermediate/Build/Win64/x64/CountDownToTheNuggetEditor/Development/Core/SharedPCH.Core.RTTI.Cpp20.cpp
Intermediate/Build/Win64/x64/CountDownToTheNuggetEditor/Development/Core/SharedPCH.Core.RTTI.Cpp20.h
Intermediate/Build/Win64/x64/CountDownToTheNuggetEditor/Development/Core/SharedPCH.Core.RTTI.Cpp20.h.obj.rsp
Intermediate/Build/Win64/x64/CountDownToTheNuggetEditor/Development/CoreUObject/SharedDefinitions.CoreUObject.Cpp20.h
Intermediate/Build/Win64/x64/CountDownToTheNuggetEditor/Development/CoreUObject/SharedDefinitions.CoreUObject.RTTI.Cpp20.h
Intermediate/Build/Win64/x64/CountDownToTheNuggetEditor/Development/CoreUObject/SharedPCH.CoreUObject.Cpp20.cpp
Intermediate/Build/Win64/x64/CountDownToTheNuggetEditor/Development/CoreUObject/SharedPCH.CoreUObject.Cpp20.h
Intermediate/Build/Win64/x64/CountDownToTheNuggetEditor/Development/CoreUObject/SharedPCH.CoreUObject.Cpp20.h.obj.rsp
Intermediate/Build/Win64/x64/CountDownToTheNuggetEditor/Development/CoreUObject/SharedPCH.CoreUObject.RTTI.Cpp20.cpp
Intermediate/Build/Win64/x64/CountDownToTheNuggetEditor/Development/CoreUObject/SharedPCH.CoreUObject.RTTI.Cpp20.h
Intermediate/Build/Win64/x64/CountDownToTheNuggetEditor/Development/CoreUObject/SharedPCH.CoreUObject.RTTI.Cpp20.h.obj.rsp
Intermediate/Build/Win64/x64/CountDownToTheNuggetEditor/Development/Engine/SharedDefinitions.Engine.Cpp17.h
Intermediate/Build/Win64/x64/CountDownToTheNuggetEditor/Development/Engine/SharedDefinitions.Engine.Cpp20.h
Intermediate/Build/Win64/x64/CountDownToTheNuggetEditor/Development/Engine/SharedPCH.Engine.Cpp17.cpp
Intermediate/Build/Win64/x64/CountDownToTheNuggetEditor/Development/Engine/SharedPCH.Engine.Cpp17.h
Intermediate/Build/Win64/x64/CountDownToTheNuggetEditor/Development/Engine/SharedPCH.Engine.Cpp17.h.obj.rsp
Intermediate/Build/Win64/x64/CountDownToTheNuggetEditor/Development/Engine/SharedPCH.Engine.Cpp20.cpp
Intermediate/Build/Win64/x64/CountDownToTheNuggetEditor/Development/Engine/SharedPCH.Engine.Cpp20.h
Intermediate/Build/Win64/x64/CountDownToTheNuggetEditor/Development/Engine/SharedPCH.Engine.Cpp20.h.dep.json
Intermediate/Build/Win64/x64/CountDownToTheNuggetEditor/Development/Engine/SharedPCH.Engine.Cpp20.h.obj.rsp
Intermediate/Build/Win64/x64/CountDownToTheNuggetEditor/Development/Makefile.bin
Intermediate/Build/Win64/x64/CountDownToTheNuggetEditor/Development/Slate/SharedDefinitions.Slate.Cpp20.h
Intermediate/Build/Win64/x64/CountDownToTheNuggetEditor/Development/Slate/SharedPCH.Slate.Cpp20.cpp
Intermediate/Build/Win64/x64/CountDownToTheNuggetEditor/Development/Slate/SharedPCH.Slate.Cpp20.h
Intermediate/Build/Win64/x64/CountDownToTheNuggetEditor/Development/Slate/SharedPCH.Slate.Cpp20.h.obj.rsp
Intermediate/Build/Win64/x64/CountDownToTheNuggetEditor/Development/TargetMetadata.dat
Intermediate/Build/Win64/x64/CountDownToTheNuggetEditor/Development/UnrealEd/SharedDefinitions.UnrealEd.Cpp20.h
Intermediate/Build/Win64/x64/CountDownToTheNuggetEditor/Development/UnrealEd/SharedDefinitions.UnrealEd.RTTI.Cpp20.h
Intermediate/Build/Win64/x64/CountDownToTheNuggetEditor/Development/UnrealEd/SharedPCH.UnrealEd.Cpp20.cpp
Intermediate/Build/Win64/x64/CountDownToTheNuggetEditor/Development/UnrealEd/SharedPCH.UnrealEd.Cpp20.h
Intermediate/Build/Win64/x64/CountDownToTheNuggetEditor/Development/UnrealEd/SharedPCH.UnrealEd.Cpp20.h.obj.rsp
Intermediate/Build/Win64/x64/CountDownToTheNuggetEditor/Development/UnrealEd/SharedPCH.UnrealEd.RTTI.Cpp20.cpp
Intermediate/Build/Win64/x64/CountDownToTheNuggetEditor/Development/UnrealEd/SharedPCH.UnrealEd.RTTI.Cpp20.h
Intermediate/Build/Win64/x64/CountDownToTheNuggetEditor/Development/UnrealEd/SharedPCH.UnrealEd.RTTI.Cpp20.h.obj.rsp
Intermediate/Build/Win64/x64/UnrealEditor/ActionHistory.bin
Intermediate/Build/Win64/x64/UnrealEditor/Development/CountDownToTheNugget/CountDownToTheNugget.cpp.dep.json
Intermediate/Build/Win64/x64/UnrealEditor/Development/CountDownToTheNugget/CountDownToTheNugget.cpp.obj.rsp
Intermediate/Build/Win64/x64/UnrealEditor/Development/CountDownToTheNugget/CountDownToTheNugget.init.gen.cpp.dep.json
Intermediate/Build/Win64/x64/UnrealEditor/Development/CountDownToTheNugget/CountDownToTheNugget.init.gen.cpp.obj.rsp
Intermediate/Build/Win64/x64/UnrealEditor/Development/CountDownToTheNugget/CountDownToTheNugget.Shared.rsp
Intermediate/Build/Win64/x64/UnrealEditor/Development/CountDownToTheNugget/CountDownToTheNuggetCharacter.cpp.dep.json
Intermediate/Build/Win64/x64/UnrealEditor/Development/CountDownToTheNugget/CountDownToTheNuggetCharacter.cpp.obj.rsp
Intermediate/Build/Win64/x64/UnrealEditor/Development/CountDownToTheNugget/CountDownToTheNuggetCharacter.gen.cpp.dep.json
Intermediate/Build/Win64/x64/UnrealEditor/Development/CountDownToTheNugget/CountDownToTheNuggetCharacter.gen.cpp.obj.rsp
Intermediate/Build/Win64/x64/UnrealEditor/Development/CountDownToTheNugget/CountDownToTheNuggetGameMode.cpp.dep.json
Intermediate/Build/Win64/x64/UnrealEditor/Development/CountDownToTheNugget/CountDownToTheNuggetGameMode.cpp.obj.rsp
Intermediate/Build/Win64/x64/UnrealEditor/Development/CountDownToTheNugget/CountDownToTheNuggetGameMode.gen.cpp.dep.json
Intermediate/Build/Win64/x64/UnrealEditor/Development/CountDownToTheNugget/CountDownToTheNuggetGameMode.gen.cpp.obj.rsp
Intermediate/Build/Win64/x64/UnrealEditor/Development/CountDownToTheNugget/Default.rc2.res
Intermediate/Build/Win64/x64/UnrealEditor/Development/CountDownToTheNugget/Default.rc2.res.rsp
Intermediate/Build/Win64/x64/UnrealEditor/Development/CountDownToTheNugget/Definitions.CountDownToTheNugget.h
Intermediate/Build/Win64/x64/UnrealEditor/Development/CountDownToTheNugget/LiveCodingInfo.json
Intermediate/Build/Win64/x64/UnrealEditor/Development/CountDownToTheNugget/UnrealEditor-CountDownToTheNugget.dll.rsp
Intermediate/Build/Win64/x64/UnrealEditor/Development/CountDownToTheNugget/UnrealEditor-CountDownToTheNugget.exp
Intermediate/Build/Win64/x64/UnrealEditor/Development/CountDownToTheNugget/UnrealEditor-CountDownToTheNugget.lib.rsp
Intermediate/Build/Win64/x64/UnrealEditor/Development/CountDownToTheNugget/UnrealEditor-CountDownToTheNugget.sup.exp
Intermediate/Build/XmlConfigCache.bin
Intermediate/CachedAssetRegistry_0.bin
Intermediate/Config/CoalescedSourceConfigs/Crypto.ini
Intermediate/Config/CoalescedSourceConfigs/GameUserSettings.ini
Intermediate/Config/CoalescedSourceConfigs/InternationalizationExport.ini
Intermediate/Config/CoalescedSourceConfigs/LocalizationServiceSettings.ini
Intermediate/Config/CoalescedSourceConfigs/ObjectMixer.ini
Intermediate/Config/CoalescedSourceConfigs/ObjectMixerSerializedData.ini
Intermediate/Config/CoalescedSourceConfigs/TranslationPickerSettings.ini
Intermediate/Config/CoalescedSourceConfigs/UnrealInsightsSettings.ini
Intermediate/ProjectFiles/AutomationTool.csproj.References
Intermediate/ProjectFiles/CountDownToTheNugget.vcxproj
Intermediate/ProjectFiles/CountDownToTheNugget.vcxproj.filters
Intermediate/ProjectFiles/CountDownToTheNugget.vcxproj.user
Intermediate/ProjectFiles/UE5.vcxproj
Intermediate/ProjectFiles/UE5.vcxproj.filters
Intermediate/ProjectFiles/UE5.vcxproj.user
Intermediate/ProjectFiles/UECommon.props
Intermediate/ReimportCache/3688439234.bin
Intermediate/ShaderAutogen/PCD3D_SM5/AutogenShaderHeaders.ush
Intermediate/ShaderAutogen/PCD3D_SM6/AutogenShaderHeaders.ush
Intermediate/TargetInfo.json
Intermediate/Build/BuildRules/CountDownToTheNuggetModuleRules.pdb
Intermediate/Build/BuildRules/CountDownToTheNuggetModuleRulesManifest.json
Intermediate/Build/BuildRulesProjects/CountDownToTheNuggetModuleRules/CountDownToTheNuggetModuleRules.csproj
Intermediate/Build/BuildRulesProjects/CountDownToTheNuggetModuleRules/obj/CountDownToTheNuggetModuleRules.csproj.nuget.dgspec.json
Intermediate/Build/BuildRulesProjects/CountDownToTheNuggetModuleRules/obj/CountDownToTheNuggetModuleRules.csproj.nuget.g.props
Intermediate/Build/BuildRulesProjects/CountDownToTheNuggetModuleRules/obj/CountDownToTheNuggetModuleRules.csproj.nuget.g.targets
Intermediate/Build/BuildRulesProjects/CountDownToTheNuggetModuleRules/obj/Development/.NETCoreApp,Version=v6.0.AssemblyAttributes.cs
Intermediate/Build/BuildRulesProjects/CountDownToTheNuggetModuleRules/obj/Development/CountDownToTheNuggetModuleRules.AssemblyInfo.cs
Intermediate/Build/BuildRulesProjects/CountDownToTheNuggetModuleRules/obj/Development/CountDownToTheNuggetModuleRules.AssemblyInfoInputs.cache
Intermediate/Build/BuildRulesProjects/CountDownToTheNuggetModuleRules/obj/Development/CountDownToTheNuggetModuleRules.assets.cache
Saved/Config/CrashReportClient/UECC-Windows-E9A1E74A47FFF6744825F2A9D86F3AA6/CrashReportClient.ini
Saved/Config/WindowsEditor/EditorPerProjectUserSettings.ini
Saved/Config/WindowsEditor/Engine.ini
Saved/Config/WindowsEditor/GameUserSettings.ini
Saved/Logs/CountDownToTheNugget.log
Saved/UnrealBuildTool/BuildConfiguration.xml
Binaries/Win64/UnrealEditor.modules
Binaries/Win64/UnrealEditor-CountDownToTheNugget.pdb
Binaries/Win64/CountDownToTheNuggetEditor.target
.vsconfig
.vs/CountDownToTheNugget/v17/Solution.VC.db-wal
.vs/CountDownToTheNugget/v17/Solution.VC.db-shm
.vs/CountDownToTheNugget/v17/Solution.VC.db
.vs/CountDownToTheNugget/v17/Browse.VC.opendb
.vs/CountDownToTheNugget/v17/Browse.VC.db-wal
.vs/CountDownToTheNugget/v17/Browse.VC.db-shm
.vs/CountDownToTheNugget/v17/Browse.VC.db
.vs/CountDownToTheNugget/v17/.suo
.vs/CountDownToTheNugget/FileContentIndex/e8163c60-5d9d-4342-b0a4-bf79fee8c2b8.vsidx
.vs/CountDownToTheNugget/FileContentIndex/e7c768bb-0a15-4bf4-baf8-948ee3123fd0.vsidx
.vs/CountDownToTheNugget/FileContentIndex/e478e23a-b9a2-48bf-866d-ba438cf27792.vsidx
.vs/CountDownToTheNugget/FileContentIndex/e3d6fb96-7bba-4472-83d5-ede87f7e0bb5.vsidx
.vs/CountDownToTheNugget/FileContentIndex/da1e1c2f-8755-48bd-97f4-41f44f96e03d.vsidx
.vs/CountDownToTheNugget/FileContentIndex/d919d3dc-060d-48a5-b739-1510304619f2.vsidx
.vs/CountDownToTheNugget/FileContentIndex/d43859f4-2595-420d-a2f7-0ddf5c97d223.vsidx
.vs/CountDownToTheNugget/FileContentIndex/ce5e5825-039d-4066-813c-3fad0d5b7be2.vsidx
.vs/CountDownToTheNugget/FileContentIndex/b78442f9-7191-4b82-8e04-fb2f97417bc6.vsidx
.vs/CountDownToTheNugget/FileContentIndex/b3894bd4-8792-44e5-8812-a38b6832efca.vsidx
.vs/CountDownToTheNugget/FileContentIndex/ad888d22-3f7b-49fb-943b-1ab71efdc182.vsidx
.vs/CountDownToTheNugget/FileContentIndex/aca3d9ac-0ed3-4dd0-87a0-a7de06ec260d.vsidx
.vs/CountDownToTheNugget/FileContentIndex/9badd729-3b57-44d7-93bc-40266ad31fa2.vsidx
.vs/CountDownToTheNugget/FileContentIndex/86f82764-3694-450e-aac6-5a6903d9805a.vsidx
.vs/CountDownToTheNugget/FileContentIndex/7aff878f-5f3a-4068-a60a-25aaa73a4c07.vsidx
.vs/CountDownToTheNugget/FileContentIndex/78610a39-ce88-4b4a-bdbb-14a943ac0969.vsidx
.vs/CountDownToTheNugget/FileContentIndex/7251b916-c9d9-43ac-811c-26a5b61e9688.vsidx
.vs/CountDownToTheNugget/FileContentIndex/5cd99807-b2e1-4ba1-bbe3-49f012fc75de.vsidx
.vs/CountDownToTheNugget/FileContentIndex/3dce2fd0-81ff-4b04-95d7-b458d7a54ae7.vsidx
.vs/CountDownToTheNugget/FileContentIndex/25dde208-3bd8-4d05-9919-fea88866160d.vsidx
.vs/CountDownToTheNugget/FileContentIndex/245d1a15-edab-4b6d-8a07-9be7128783ab.vsidx
.gitattributes
Saved/Autosaves/PackageRestoreData.json
Saved/AutoScreenshot.png
Saved/Config/CrashReportClient/UECC-Windows-F242595E4F8239815608F2B4E9D1518F/CrashReportClient.ini
Saved/Config/WindowsEditor/Bridge.ini
Saved/Config/WindowsEditor/Compat.ini
Saved/Config/WindowsEditor/ControlRig.ini
Saved/Config/WindowsEditor/DatasmithContent.ini
Saved/Config/WindowsEditor/DeviceProfiles.ini
Saved/Config/WindowsEditor/Editor.ini
Saved/Config/WindowsEditor/EditorScriptingUtilities.ini
Saved/Config/WindowsEditor/EnhancedInput.ini
Saved/Config/WindowsEditor/FullBodyIK.ini
Saved/Config/WindowsEditor/Game.ini
Saved/Config/WindowsEditor/GLTFExporter.ini
Saved/Config/WindowsEditor/Hardware.ini
Saved/Config/WindowsEditor/IKRig.ini
Saved/Config/WindowsEditor/Input.ini
Saved/Config/WindowsEditor/InstallBundle.ini
Saved/Config/WindowsEditor/Interchange.ini
Saved/Config/WindowsEditor/Lightmass.ini
Saved/Config/WindowsEditor/Metasound.ini
Saved/Config/WindowsEditor/Niagara.ini
Saved/Config/WindowsEditor/Paper2D.ini
Saved/Config/WindowsEditor/RuntimeOptions.ini
Saved/Config/WindowsEditor/Scalability.ini
Saved/Config/WindowsEditor/StructUtils.ini
Saved/Config/WindowsEditor/Synthesis.ini
Saved/Config/WindowsEditor/ToolPresets.ini
Saved/Config/WindowsEditor/TraceDataFilters.ini
Saved/Config/WindowsEditor/TraceUtilities.ini
Saved/Config/WindowsEditor/VariantManagerContent.ini
Saved/Logs/CountDownToTheNugget-backup-2024.04.12-16.59.41.log
Saved/Logs/WorldPartition/StreamingGeneration-PIE_ThirdPersonMap-00003d58-2024-04-12T19.00.41.034Z.log
Saved/Logs/CountDownToTheNugget-backup-2024.04.12-17.01.18.log
Saved/Config/CrashReportClient/UECC-Windows-13F045B74C83CDB231B164962ECA71CE/CrashReportClient.ini
Saved/SourceControl/UncontrolledChangelists.json
Saved/Logs/WorldPartition/StreamingGeneration-PIE_ThirdPersonMap-000017d4-2024-04-12T19.14.33.826Z.log
Saved/Logs/WorldPartition/StreamingGeneration-PIE_ThirdPersonMap-000017d4-2024-04-12T19.14.25.126Z.log
Saved/Crashes/UECC-Windows-13F045B74C83CDB231B164962ECA71CE_0001/CrashReportClient.ini
Saved/Crashes/UECC-Windows-13F045B74C83CDB231B164962ECA71CE_0001/CrashContext.runtime-xml
Saved/Crashes/UECC-Windows-13F045B74C83CDB231B164962ECA71CE_0001/CountDownToTheNugget.log
Saved/Crashes/UECC-Windows-13F045B74C83CDB231B164962ECA71CE_0000/CrashReportClient.ini
Saved/Crashes/UECC-Windows-13F045B74C83CDB231B164962ECA71CE_0000/CrashContext.runtime-xml
Saved/Crashes/UECC-Windows-13F045B74C83CDB231B164962ECA71CE_0000/CountDownToTheNugget.log
Saved/Config/WindowsEditor/ObjectMixerSerializedData.ini
Saved/Autosaves/PackageRestoreData.json
Saved/SourceControl/UncontrolledChangelists.json
Saved/Autosaves/PackageRestoreData.json
.vs/CountDownToTheNugget/v17/ipch/8a0d89231c2f91d1.ipch
.vs/CountDownToTheNugget/FileContentIndex/ed2db6f1-f3d4-488f-b1fa-9d19aeffeb90.vsidx
.vs/CountDownToTheNugget/FileContentIndex/e6aec233-f401-4b69-a89e-12872b5562e6.vsidx
.vs/CountDownToTheNugget/FileContentIndex/e60d402e-5244-441a-9678-006c1c198b08.vsidx
.vs/CountDownToTheNugget/FileContentIndex/d2c1604d-6e7c-481c-b79a-f834cb0a17ac.vsidx
.vs/CountDownToTheNugget/FileContentIndex/cae1f9a6-fba8-462d-8ce1-4caedd77d373.vsidx
.vs/CountDownToTheNugget/FileContentIndex/aa973772-93a9-4e0b-98bf-9fe9d86d28c2.vsidx
.vs/CountDownToTheNugget/FileContentIndex/a6857df9-f82d-499c-8ae3-bb58c99c63f3.vsidx
.vs/CountDownToTheNugget/FileContentIndex/90ee1d40-b066-4a0e-b6e4-0e19ef9feef9.vsidx
.vs/CountDownToTheNugget/FileContentIndex/89aeb407-190e-47c4-b560-521b2f8547cf.vsidx
.vs/CountDownToTheNugget/FileContentIndex/79baa4e8-b7fa-4f75-92c2-3ff134029a0a.vsidx
.vs/CountDownToTheNugget/FileContentIndex/6e44ef68-90a1-431f-a131-ba87523e4991.vsidx
.vs/CountDownToTheNugget/FileContentIndex/6ca11b7c-03b3-4a6e-9ca7-25480591c6ae.vsidx
.vs/CountDownToTheNugget/FileContentIndex/5c0b52a2-e57d-4e09-a74b-12f095523002.vsidx
.vs/CountDownToTheNugget/FileContentIndex/54b0240c-55b0-4fb2-b53d-49a8ca697396.vsidx
.vs/CountDownToTheNugget/FileContentIndex/47517e98-d9e2-4ea1-8ca8-183befa8ba16.vsidx
.vs/CountDownToTheNugget/FileContentIndex/44113fd4-fd24-492a-b1c5-c2eb5083211b.vsidx
.vs/CountDownToTheNugget/FileContentIndex/349b9c41-6e7f-43f9-b7dc-a7dba5d03bee.vsidx
.vs/CountDownToTheNugget/FileContentIndex/21d30660-d911-46eb-8e95-6835de23f7b6.vsidx
.vs/CountDownToTheNugget/FileContentIndex/123ba3a1-4ffa-4cc2-9935-e956b558d158.vsidx
.vs/CountDownToTheNugget/FileContentIndex/11483fea-6794-4394-b011-76ed30a4b754.vsidx
.vs/CountDownToTheNugget/FileContentIndex/0e9cf925-43d4-4866-8a4c-461b8cbf90ec.vsidx
.vs/CountDownToTheNugget/FileContentIndex/0663f4b1-20c0-45ca-969f-fbd44a97fc1a.vsidx
.vs/CountDownToTheNugget/FileContentIndex/00ff9b44-3748-4b7a-a748-d34a504785f9.vsidx
.vs/CountDownToTheNugget/FileContentIndex/6c7bd1c6-77df-4cc7-be1d-5a39dce536f2.vsidx
Binaries/Win64/UnrealEditor-CountDownToTheNugget-1226.pdb
Binaries/Win64/UnrealEditor-CountDownToTheNugget-0511.pdb
.vs/CountDownToTheNugget/v17/ipch/AutoPCH/da37e8e1106b1232/GAMEMODEBASE.ipch
.vs/CountDownToTheNugget/v17/ipch/AutoPCH/919f003238eda5a5/GAMEMANAGER.ipch
.vs/CountDownToTheNugget/v17/ipch/AutoPCH/8c0bcb4b9242181f/PLAYERCONTROLLER.ipch
.vs/CountDownToTheNugget/v17/ipch/a218061279e2bed8.ipch
.vs/CountDownToTheNugget/v17/DocumentLayout.json
.vs/CountDownToTheNugget/FileContentIndex/fd4f9073-2783-4899-a4e7-0a3e67843720.vsidx
.vs/CountDownToTheNugget/FileContentIndex/fc8bfbd9-ff38-42ef-9548-d05a91939e5c.vsidx
.vs/CountDownToTheNugget/FileContentIndex/faffda75-99fc-45b1-99d5-a393b5ba5fb8.vsidx
.vs/CountDownToTheNugget/FileContentIndex/f2ba3f96-51d5-4e96-8a43-62d89bd8e883.vsidx
.vs/CountDownToTheNugget/FileContentIndex/e60862a7-fd91-46dc-bff1-669158ae449b.vsidx
.vs/CountDownToTheNugget/FileContentIndex/ba72b6fa-83de-4f02-85b2-df0e2edb31e0.vsidx
.vs/CountDownToTheNugget/FileContentIndex/b8b5bd14-aa85-4583-9ed3-15504379fa65.vsidx
.vs/CountDownToTheNugget/FileContentIndex/b22419b7-a309-43b1-9982-0dcf96508248.vsidx
.vs/CountDownToTheNugget/FileContentIndex/a6a248ee-3ab8-491d-9455-df764b917705.vsidx
.vs/CountDownToTheNugget/FileContentIndex/8aa1267a-030a-4bfe-bc79-8118350b8e5e.vsidx
.vs/CountDownToTheNugget/FileContentIndex/87925490-55d3-460b-9528-9657ffce1982.vsidx
.vs/CountDownToTheNugget/FileContentIndex/86b8de9f-ff07-4245-bcf9-620fe543c368.vsidx
.vs/CountDownToTheNugget/FileContentIndex/7d210454-83fd-4c99-866b-158441d328a4.vsidx
.vs/CountDownToTheNugget/FileContentIndex/73b9b767-8d34-42c3-a48f-ef279880b816.vsidx
.vs/CountDownToTheNugget/FileContentIndex/6eb61589-60f4-4445-a6e7-4bf257593636.vsidx
.vs/CountDownToTheNugget/FileContentIndex/639ce3a6-fa4b-4dc4-888f-59f30806664e.vsidx
.vs/CountDownToTheNugget/FileContentIndex/60cea58a-3428-4baf-ad5b-8a242f9cde8f.vsidx
.vs/CountDownToTheNugget/FileContentIndex/5e69a644-1b7c-4eb4-85dd-6b3a66de74e9.vsidx
.vs/CountDownToTheNugget/FileContentIndex/4038d596-5c8b-4783-8f03-d5cb487ba42c.vsidx
.vs/CountDownToTheNugget/FileContentIndex/3ef669bd-d986-489e-90b3-866a8ed7744a.vsidx
.vs/CountDownToTheNugget/FileContentIndex/1771b976-c693-41c9-abae-89cd6f93b54f.vsidx
Saved/Logs/CountDownToTheNugget-backup-2024.04.16-17.06.53.log
Saved/Logs/CountDownToTheNugget-backup-2024.04.16-17.22.46.log
Saved/Logs/CountDownToTheNugget-backup-2024.04.16-17.27.24.log
Saved/Logs/CountDownToTheNugget-backup-2024.04.16-17.31.54.log
Saved/Logs/CountDownToTheNugget-backup-2024.04.16-18.21.55.log
Saved/Logs/WorldPartition/StreamingGeneration-PIE_ThirdPersonMap-000014fc-2024-04-16T20.23.17.109Z.log
Saved/Logs/WorldPartition/StreamingGeneration-PIE_ThirdPersonMap-00003bbc-2024-04-16T20.20.55.927Z.log
Saved/Logs/WorldPartition/StreamingGeneration-PIE_ThirdPersonMap-00003bbc-2024-04-16T20.21.12.331Z.log
Saved/Logs/WorldPartition/StreamingGeneration-PIE_ThirdPersonMap-00003bbc-2024-04-16T20.21.31.524Z.log
.vs/CountDownToTheNugget/BlueprintCache/CountDownToTheNugget.json
.vs/CountDownToTheNugget/DesignTimeBuild/.dtbcache.v2
.vs/CountDownToTheNugget/FileContentIndex/1cf8e620-f0fc-4fa7-ae14-c3b7e91ad243.vsidx
.vs/CountDownToTheNugget/FileContentIndex/1f775723-613b-44fa-a610-f3c8f7e3f214.vsidx
.vs/CountDownToTheNugget/FileContentIndex/22367c48-781a-4fc7-bc0d-77dfb2b08a12.vsidx
.vs/CountDownToTheNugget/FileContentIndex/2575e21e-eee0-43da-8512-64321c5230ec.vsidx
.vs/CountDownToTheNugget/FileContentIndex/2880ad2e-086c-4243-872f-9164925cdb62.vsidx
.vs/CountDownToTheNugget/FileContentIndex/3a0cf298-76cf-4646-af1d-3632e2f6a683.vsidx
.vs/CountDownToTheNugget/FileContentIndex/4054800d-5902-461f-bde5-98e4f707c701.vsidx
.vs/CountDownToTheNugget/FileContentIndex/436e1b71-7c3a-49cb-aa1a-46c1597c37e5.vsidx
.vs/CountDownToTheNugget/FileContentIndex/5008b29c-7999-4c81-8b9f-7d8af4bdab86.vsidx
.vs/CountDownToTheNugget/FileContentIndex/6a25953c-46aa-405d-a686-7fcfdc4c4476.vsidx
.vs/CountDownToTheNugget/FileContentIndex/7554a2a5-9eaf-4ca1-a800-4666b67a29e4.vsidx
.vs/CountDownToTheNugget/FileContentIndex/7735baee-f602-4279-a730-6b7c24a859ac.vsidx
.vs/CountDownToTheNugget/FileContentIndex/801d8c17-4fd2-4e5b-a512-b53d4636370d.vsidx
.vs/CountDownToTheNugget/FileContentIndex/8c329495-161d-4258-92d0-b88cc3f2ef8d.vsidx
.vs/CountDownToTheNugget/FileContentIndex/8f98e25e-786d-4dc6-b1f6-5839fac07eb5.vsidx
.vs/CountDownToTheNugget/FileContentIndex/981cfdee-ab7d-4af2-ab54-f804fcebef09.vsidx
.vs/CountDownToTheNugget/FileContentIndex/9f1955f7-e91f-4fe0-b27e-468e472d5c2f.vsidx
.vs/CountDownToTheNugget/FileContentIndex/ae1741aa-3dc9-46a8-9590-5c6dbe525708.vsidx
.vs/CountDownToTheNugget/FileContentIndex/b0c21433-358a-4e9a-9a22-5415f09fbc66.vsidx
.vs/CountDownToTheNugget/FileContentIndex/ec8b7eea-7c6a-44b2-966c-bb2ed187eb59.vsidx
.vs/CountDownToTheNugget/FileContentIndex/ed3657f8-3690-45c2-9973-540f74e73b7b.vsidx
.vs/CountDownToTheNugget/FileContentIndex/f12174e3-cd3f-4227-af11-61fd94281046.vsidx
.vs/CountDownToTheNugget/FileContentIndex/f185abc4-c9b0-4f1b-b584-ece7d1f181a8.vsidx
.vs/CountDownToTheNugget/FileContentIndex/f601bb9a-1982-4cf7-ba77-915f7a8915de.vsidx
.vs/CountDownToTheNugget/FileContentIndex/fe94597e-de87-4184-aa0c-bb2bbb316778.vsidx
.vs/CountDownToTheNugget/v17/.futdcache.v2
.vs/CountDownToTheNugget/v17/fileList.bin
.vs/ProjectEvaluation/countdowntothenugget.metadata.v7.bin
.vs/ProjectEvaluation/countdowntothenugget.projects.v7.bin
Binaries/Win64/UnrealEditor-CountDownToTheNugget-0437.pdb
Binaries/Win64/UnrealEditor-CountDownToTheNugget-1110.pdb
Binaries/Win64/UnrealEditor-CountDownToTheNugget-1111.pdb
Binaries/Win64/UnrealEditor-CountDownToTheNugget-2346.pdb
Binaries/Win64/UnrealEditor-CountDownToTheNugget-2726.pdb
Binaries/Win64/UnrealEditor-CountDownToTheNugget-2741.pdb
Binaries/Win64/UnrealEditor-CountDownToTheNugget-3534.pdb
Binaries/Win64/UnrealEditor-CountDownToTheNugget-3556.pdb
Binaries/Win64/UnrealEditor-CountDownToTheNugget-4536.pdb
Binaries/Win64/UnrealEditor-CountDownToTheNugget-4541.pdb
Binaries/Win64/UnrealEditor-CountDownToTheNugget-4782.pdb
Binaries/Win64/UnrealEditor-CountDownToTheNugget-4810.pdb
Binaries/Win64/UnrealEditor-CountDownToTheNugget-7915.pdb
Binaries/Win64/UnrealEditor-CountDownToTheNugget-7919.pdb
Binaries/Win64/UnrealEditor-CountDownToTheNugget-7923.pdb
Binaries/Win64/UnrealEditor-CountDownToTheNugget-8032.pdb
.vs/CountDownToTheNugget/DesignTimeBuild/.dtbcache.v2
.vs/CountDownToTheNugget/FileContentIndex/1f775723-613b-44fa-a610-f3c8f7e3f214.vsidx
.vs/CountDownToTheNugget/FileContentIndex/51e77740-485c-4c0c-8c56-a2269597a768.vsidx
.vs/CountDownToTheNugget/FileContentIndex/7554a2a5-9eaf-4ca1-a800-4666b67a29e4.vsidx
.vs/CountDownToTheNugget/FileContentIndex/8c329495-161d-4258-92d0-b88cc3f2ef8d.vsidx
.vs/CountDownToTheNugget/v17/.futdcache.v2
.vs/CountDownToTheNugget/v17/fileList.bin
.vs/ProjectEvaluation/countdowntothenugget.metadata.v7.bin
.vs/ProjectEvaluation/countdowntothenugget.projects.v7.bin
.vs/CountDownToTheNugget/DesignTimeBuild/.dtbcache.v2
.vs/CountDownToTheNugget/FileContentIndex/1f775723-613b-44fa-a610-f3c8f7e3f214.vsidx
.vs/CountDownToTheNugget/FileContentIndex/7554a2a5-9eaf-4ca1-a800-4666b67a29e4.vsidx
.vs/CountDownToTheNugget/FileContentIndex/8c329495-161d-4258-92d0-b88cc3f2ef8d.vsidx
.vs/CountDownToTheNugget/v17/.futdcache.v2
.vs/CountDownToTheNugget/v17/fileList.bin
.vs/ProjectEvaluation/countdowntothenugget.metadata.v7.bin
.vs/ProjectEvaluation/countdowntothenugget.projects.v7.bin
.vs/CountDownToTheNugget/FileContentIndex/7ba99ee3-471e-4798-a787-5b34694eca5e.vsidx
